<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\temp\TM\Logging\Web\Web.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%thread] %-5p %c - %m%n" />
    </layout>
  </appender>

  <!-- STEP 2 -->
  <appender name="T4TFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\temp\TM\Logging\Web\WebApi-Error.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d %5rms [%thread] %-40.40c{1} %-18.18M - %m%n" />
    </layout>
  </appender>
  <!-- STEP 2 -->

  <root>
    <level value="DEBUG"></level>
    <appender-ref ref="RollingLogFileAppender"></appender-ref>
  </root>

  <!-- App Specific -->
  <logger name="T4TErrorLogger">
    <appender-ref ref="T4TFileAppender"></appender-ref>
    <level value="ERROR" />
  </logger>
</log4net>